# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
chatbot-env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log
*.out
*.err

# Environment variables
.env

# Database
*.sqlite3
*.db
*.sql

# Cache and temporary files
*.swp
*.swo
*.bak
*.tmp
.cache/
*.pid
*.seed

# Testing
.coverage
*.egg
*.egg-info/
dist/
build/

# AWS Credentials (if any)
.aws/

# Python Package Manager files
Pipfile
Pipfile.lock
poetry.lock

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS system files
.DS_Store

# Thumbnails
Thumbs.db
ehthumbs.db

# Windows backup files
Desktop.ini
*.bak
*.tmp
*.swp
*.lnk

# Recycle Bin files
$RECYCLE.BIN/
